.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.filter {
  &__search {
    padding: 0 0.5rem;
    border: 1px solid rgba(31, 31, 31, 0.3);
    background-color: #f3f3f3;
    width: 200px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
}
