.type-favorites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.filter {
  &__search,
  &__select,
  &__all,
  &__favorites {
    padding: 0 0.5rem;
    border: 1px solid rgba(31, 31, 31, 0.3);
    background-color: #f3f3f3;
    width: 200px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    color: #757575;
  }
  &__search {
    width: 175px;

    @media all and (min-width: 680px) {
      width: 250px;
    }
  }
  &__select {
    width: 110px;

    @media all and (min-width: 680px) {
      width: 150px;
    }
  }

  &__all,
  &__favorites {
    width: 150px;
    border-color: #71c1a1;

    @media all and (min-width: 680px) {
      width: 208px;
    }
  }
  &__all {
    border-radius: 4px 0 0 4px;
  }
  &__favorites {
    border-radius: 0 4px 4px 0;
  }
}

.filters__favorites {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pokemons {
  background-color: #71c1a1;
  color: white;
}
