.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.filter {
  &__search,
  &__select {
    padding: 0 0.5rem;
    border: 1px solid rgba(31, 31, 31, 0.3);
    background-color: #f3f3f3;
    width: 200px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.row {
  color: #757575;
  appearance: none;
}

.select::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #71c1a1;
  display: inline-block;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(90deg);
}
