.home-container {
  margin: 1rem auto 2rem auto;
  max-width: 1000px;
}

.loading {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.loader {
  grid-column: 1 / -1;
  margin-top: 1.5rem;
}
